# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\dalesa\OneDrive - Highgate School\2020-21\Year 13 - Comp Project\PyCharm\RockPaperScissors\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
